# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/

# Docker
**/shared_data/
**/monitoring/influxdb/data/
**/monitoring/grafana/data/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
